<h1 align="center">{{ project_name }}</h1>

<div align="center">

{{ description }}

[![Lint]({{ repository }}/actions/workflows/lint.yaml/badge.svg)]({{ repository }}/actions/workflows/lint.yaml)
[![Test]({{ repository }}/actions/workflows/test.yaml/badge.svg)]({{ repository }}/actions/workflows/test.yaml)
[![Example]({{ repository }}/actions/workflows/example.yaml/badge.svg)]({{ repository }}/actions/workflows/example.yaml)

</div>

---

## 💡 About

Treat this `README.md` as the landing page for people
that want to **use** your template.

Write here whatever you want to tell them.

## 📜 Usage

To create a new project from this template,
make sure you have [`copier`](https://copier.readthedocs.io) installed and run:

```sh
copier {{ repository }} path/to/destination
```

## 🚀 Features

- fully reproducible development environments with
  [`Dev Containers`](https://code.visualstudio.com/docs/remote/containers)
  and [`Nix`](https://nixos.org)
- automatic environment activation with [`direnv`](https://direnv.net)
- running tasks with [`Task`](https://taskfile.dev)
- formatting and linting with [`Trunk`](https://trunk.io)
- continuous integration with [`GitHub Actions`](https://github.com/features/actions)

## 💻 Development

Read more about how to contribute and develop the project
[here]({{ repository }}/blob/main/CONTRIBUTING.md).
